.about-container {
  width: 50%;
  margin: 0 auto;
  font-family: Barlow, Arial, sans-serif;
}

.about-header {
  font-size: 3.5em;
  text-align: center;
  margin: 5% 0 5% 0; 
}

.profile-box {

}

.img-container {
  text-align: center;
}

.img-container img {
  width: 17em;
  height: 17em;
  border-radius: 50%;
}

.person-container div {
  margin: 2% 0 2% 0;
}

.person-name {
  font-size: 2.76em;
  text-align: center;
}

.person-description {
  font-size: 1.6em;
}
